<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Редактировать вопрос", edit_question_path(@question) %> |
  <%= link_to "К вопросам", questions_path %>

  <%= button_to "Удалить вопрос", @question, method: :delete %>
</div>
