<div id="errors"></div>
<%= simple_form_for(@quiz) do |f| %>
  <%= f.label :title, 'Наименование' %>
  <%= f.text_field :title, class: "form-control mb-3"%>
  <div id="questions">
    <%= f.fields_for :questions, Question.new do |question_fileds| %>
      <%= render "question_fields", f: question_fileds %>
    <% end %>
    <%# f.fields_for :questions do |question_fields| %>
      <%# render "question_fields", f: question_fields %>
    <%# end %>
    <div class="links">
      <%= link_to_add_association "Добавить вопрос", f, :questions, class: 'brn btn-primary' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-outline-success" %>
  </div>
<% end %>
