<%= render "errors"%>
<%= form_with(model: quiz, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |f| %>
  <%= f.label :title, 'Наименование' %>
  <%= f.text_field :title, class: "form-control mb-3"%>
  <template data-nested-form-target="template">
    <%= f.fields_for :questions, Question.new, child_index: "NEW_RECORD" do |question_fields| %>
      <%= render "question_fields", f: question_fields %>
    <% end %>
  </template>
  <%= f.fields_for :questions do |question_fields| %>
    <%= render "question_fields", f: question_fields %>
  <% end %>
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Добавить</button>
  <%= f.submit 'Создать тест', class: 'btn btn-outline-success'%>
<% end %>
