<% provide(:title, 'Регистрация') %>
<h1 class="center">Регистрация</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
    
      <%= f.label :"Фамилия" %>
      <%= f.text_field :surname, class: 'form-control' %>

      <%= f.label :"Имя" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :"Электронная почта" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :"Пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Подтвердите пароль" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :group, "Выберите группу" %>      
      <%# f.select :group, [["Студент", 0],["Преподаватель", 1]] %>

      <div class="group_num d-none">
        <%= f.label :group, "Введите номер группы" %> 
        <%= f.text_field :group %>
      </div>
      <div class="col-sm-4">
        <%= f.submit "Создать аккаунт", class: "btn btn-primary" %>
      </div>
      <div class="col-sm-4">
        <%= link_to "Вернуться", :back, class: "btn btn-outline-primary" %>
      </div>
      <div class="col-sm-4">
        <%= link_to "Войти", mentor_session_path, class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>