<div class="row">
  <div class="col-sm-6">
    <h1>Мои группы</h1>
  </div>
  <div class="col-sm-6">
    <h1>Список группы <%= @current_group %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= render "group_buttons" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render "group_table"%>
  </div>
  <div class="col-sm-6">
    <%= render "group_list"%>
  </div>
</div>
<div class="row">
  <%= link_to 'Вернуться', :back, class: 'link primary-link'%>
</div>
