<% provide(:title, 'Регистрация') %>
<h1 class="center">Регистрация</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :"Фамилия" %>
      <%= f.text_field :surname, class: 'form-control' %>

      <%= f.label :"Имя" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :"Отчество (при наличии)" %>
      <%= f.text_field :patronymic, class: 'form-control' %>

      <%= f.label :"Электронная почта" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :"Пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Подтвердите пароль" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :type_user, "Выберите тип учетной записи" %>      
      <%= f.select :type_user, [["Студент", 0],["Преподаватель", 1]] %>

      <div class="group_num d-none">
        <%= f.label :group, "Введите номер группы" %> 
        <%= f.text_field :group %>
      </div>

      <%# <div class="codefield d-none">
        <%= f.label :type_user, "Введите специальный код" %> 
        <%# f.text_field :type_user %>
      <%# </div> %>

      <%= f.submit "Создать аккаунт", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>