<h1>Tests#show</h1>
<p>Find me in app/views/tests/show.html.erb</p>
<h1><%= controller_name.capitalize %> Details</h1>
<div>
  <strong>Name:</strong>
  <%= @<%= controller_name.singularize.downcase %>.name %>
</div>
<div>
  <strong>Description:</strong>
  <%= @<%= controller_name.singularize.downcase %>.description %>
</div>