<h1>Мои тесты</h1>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |t| %>
    <tr>
      <td><%= t.id %></td>
      <td><%= t.name %></td>
      <td><%= t.description %></td>
      <td><%= link_to 'Редактировать', edit_path %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to "Создать тест", new_path%>
