<h1>Create new test</h1>

<%= form_for @test do |f| %>
  <%= f.label :name %>
  <%= f.text.field :name %>

  <%= f.label :description %>
  <%= f.text.field :description %>

  <%= f.submit %>
<% end %>